http_address = "127.0.0.1:4180"

redirect_url = "$OAUTH2_REDIRECT_URL"
upstreams = "http://127.0.0.1"

provider = "github"
email_domains = "*"

set_xauthrequest = true

cookie_secret = "$OAUTH2_COOKIE_SECRET"
client_id = "$OAUTH2_CLIENT_ID"
client_secret= "$OAUTH2_CLIENT_SECRET"

cookie_expire="1h"
